In [112]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [152]:
data = pd.read_csv('tweets.csv', encoding='ISO-8859-1', error_bad_lines=False, header=None, usecols=[0, 5])
data.describe()

                  0
count  1.600000e+06
mean   2.000000e+00
std    2.000001e+00
min    0.000000e+00
25%    0.000000e+00
50%    2.000000e+00
75%    4.000000e+00
max    4.000000e+00

In [153]:
data.sample(5, random_state=4)

         0                                                  5
1363607  4  @susieprue http://www.twitpic.com/6phi1 I seri...
265103   0        @Shaneplaysdrums  Lucky. I miss The Status.
1046624  4  @ErickaCartman Me TOO! i was all into them, an...
218797   0  Oh! bad twitter!! &gt; I cant see my profile p...
1576311  4  @iloveeejonas  yeah omg I got an e-mail from T...

In [154]:
data[0] = np.where(data[0] == 4, 1, 0)
data.sample(5, random_state=4)

         0                                                  5
1363607  1  @susieprue http://www.twitpic.com/6phi1 I seri...
265103   0        @Shaneplaysdrums  Lucky. I miss The Status.
1046624  1  @ErickaCartman Me TOO! i was all into them, an...
218797   0  Oh! bad twitter!! &gt; I cant see my profile p...
1576311  1  @iloveeejonas  yeah omg I got an e-mail from T...

In [155]:
data = data.drop_duplicates(subset=[data.columns[1]])
data.describe()

                  0
count  1.581466e+06
mean   5.003465e-01
std    5.000000e-01
min    0.000000e+00
25%    0.000000e+00
50%    1.000000e+00
75%    1.000000e+00
max    1.000000e+00

In [156]:
train, test = train_test_split(data, test_size=0.4, random_state=1000, shuffle=True)

In [157]:
train.to_csv('train.csv', index=False, header=False)

In [158]:
train.sample(20).to_csv('train_sample.csv', index=False, header=False)

In [159]:
test.to_csv('test.csv', index=False, header=False)

In [160]:
test.sample(8).to_csv('test_sample.csv', index=False, header=False)