In [64]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [56]:
data = pd.read_csv('tweets.csv', encoding='ISO-8859-1', error_bad_lines=False, header=None)
data.describe()

                  0             1
count  1.600000e+06  1.600000e+06
mean   2.000000e+00  1.998818e+09
std    2.000001e+00  1.935761e+08
min    0.000000e+00  1.467810e+09
25%    0.000000e+00  1.956916e+09
50%    2.000000e+00  2.002102e+09
75%    4.000000e+00  2.177059e+09
max    4.000000e+00  2.329206e+09

In [57]:
data = data.drop(columns=[1, 2, 3, 4])

In [58]:
data.columns=['sentiment', 'text']
data.head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [59]:
data.sentiment = np.where(data.sentiment == 4, 1, 0)
data.sample(10)

         sentiment                                               text
600034           0                                @oyoidesyoujo why?
583013           0    Hey ya'll! Wats up? Haven't been on im a while
127434           0  @kylie_jayne i feel exactly the same. struggli...
908659           1  @miniatus Well thank you darling...it was a pl...
322944           0  oh i dont know whether ill b able to study now...
1184395          1  here with @taikaish , that was a good conferen...
960976           1  Jamming to Waiting for Yesterday in Jon's car!
112266           0  great weekend. few good purchases today. but l...
1582285          1  Song of the Day by Per - The Party Pleaser.  W...
1404615          1  How are you, Twitter? Working and watching The...

In [63]:
data = data.drop_duplicates('text')
data.describe()

          sentiment
count  1.581466e+06
mean   5.003465e-01
std    5.000000e-01
min    0.000000e+00
25%    0.000000e+00
50%    1.000000e+00
75%    1.000000e+00
max    1.000000e+00

In [68]:
train, test = train_test_split(data, test_size=0.4, random_state=1000, shuffle=True)

In [71]:
train.to_csv('train.csv', index=False)
train.describe()

           sentiment
count  948879.000000
mean        0.501008
std         0.499999
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000

In [72]:
test.to_csv('test.csv', index=False)
test.describe()

           sentiment
count  632587.000000
mean        0.499354
std         0.500000
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000